:root {
    --primary-color: rgb(255, 92, 92);
    --primary-variant: #ff2d2d;
    --secondary-color: #1b9999;
    --on-primary: rgb(162, 43, 177);
    --on-background: rgb(66, 66, 66);
    --on-background-alt: rgba(66, 66, 66, 0.7);
    --background: rgb(255, 255, 255);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5)
}

[data-theme="dark"] {
    --primary-color: rgb(150, 65, 255);
    --primary-variant: #6c63ff;
    --secondary-color: #03dac5;
    --on-primary: #000;
    --on-background: rgba(255, 255, 255, 0.9);
    --on-background-alt: rgba(255, 255, 255, 0.7);
    --background: rgb(255, 255, 255);
    
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color: var(--on-background);
    font-family: Comfortaa, sans-serif;
    background-color: var(--background);
    background-color: #b7ebe6;
background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f5f4fa' fill-opacity='0.83' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 75px;
    margin-bottom: 0;
}
h2 {
    color: var(--on-background-alt);
    font-size: 32px;
    font-weight: normal;
}

nav {
    z-index: 10;
    position: fixed;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    width: 100vw;
    background: rgb(255 255 255 / 50%);
    color: red;
}
a {
    margin-right: 25px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    font: red;
}

a:hover
a:focus {
    color: var(--on-background);
    border-bottom: 3px solid;
}
/* home section */
.title-group {
    text-align: center;
}
.about-container {
display: flex;
}
.image-container {
   border: 1px solid;
   border-radius: 10px;
   padding: 10px 20px;
   margin-right: 25px;
   margin-top: 15px;
   width: auto;
   background: var(--background);
   box-shadow: var(--box-shadow);
}
img {
    height: 300px;
    width: 300px;
}

/* projects */
.buttons {
    margin-top: 15px;
    margin-bottom: 50px;
}
 
button {
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    font-size: 15px;
    outline: none;
}
button:disabled {
    opacity: 0.4;
    cursor: default;
}
.primary {
    background: var(--primary-color);
    color: var(--on-primary);
}
.secondary {
    border: 2px solid var(--secondary-color);
}
.secondary,
.secondary:hover,
.outline.secondary:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
}
.outline {
    background: var(--background);
    color: var(--on-background);
}
.outline:hover {
    background: var(--primary-color);
    color: var(--on-primary);
}
.text-box {
    width: 40%;
    text-align: justify;
    background: rbg(0 0 0 / 50%);
    color: var(--on-primary);
    border-radius: 10px;
    padding: 30px;
}
p {
    margin: 0;
    line-height: 25px;
}